.code-editor-container {
  height: calc(100vh - 74px - 36px - 12px);
}

.code-editor {
  border-radius: 12px;
}

.code-editor-run-button {
  font-family: 'Better-VCR';
  width: fit-content;
  padding: 10px;
  margin-right: 20px;
  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.code-editor-run-button:hover {
  background-color: #3265ff;
}

.code-editor-header {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #ccc;
	margin-top: 5px;
	padding-bottom: 5px;
}

.code-editor-header label {
  color: white;
}

.code-editor-theme-select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: monospace;
}
