.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 10px;
  padding: 10px;

	background-color: rgba(255, 255, 255, 1);
	background: transparent;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	border: 2px solid rgba(255, 255, 255, .25);
	border-radius: 12px;
}

.header-logo-container {
  display:flex;
  justify-content: space-around;
}

.header-logo {
  margin-left: 20px;

  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header-options-container {
  display:flex;
  justify-content: space-around;
}

.header-about {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header-leaderboard {
  margin-left: 20px;

  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header-login {
  margin-left: 20px;

  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header-register {
  margin-left: 20px;

  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header-dashboard {
  margin-left: 20px;

  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header-profile {
  margin-left: 20px;

  text-decoration: none;
  color: white;
  font-size: 20px;
}
