.code-editor-container {
  height: calc(100vh - 74px - 36px - 12px);
}

.code-editor {
  border-radius: 12px;
}

.code-editor-run-button {
  font-family: 'Better-VCR';
  width: fit-content;
  padding: 12px;
  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.code-editor-run-button:hover {
  background-color: #357abd;
}
