* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'Better-VCR';
	src: url('../fonts/Better-VCR.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
	min-height: 100vh;
	font-family: 'Better-VCR', monospace;
}

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-container .tabs {
	color: white;
	padding: 20px;
}

.tabs {
	display: flex;
	align-items: center;
	gap: 1rem;
	list-style: none;
	cursor: pointer;
}

.tab-container {
	padding: 8px 10px;
	display: flex;
	align-items: center;
	font-size: 12px;
}

.tab-container-active {
	padding: 8px 10px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid white;
}

.tab-container a {
	color: white;
	text-decoration: none;
}

.tab-container-active a {
	color: white;
	text-decoration: none;
}

.tab-x-active {
	width: 24px;
	height: 24px;
	right: 10px;
	visibility: visible;
	margin-left: 10px;
}

.tab-x-inactive {
	width: 24px;
	height: 24px;
	visibility: hidden;
}

.login-form{
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	width: 425px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .25);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	color: #ffffff;
	border-radius: 12px;
	padding: 30px 40px;
	margin: 30px 0;
}

.login-form h1 {
	text-align: center;
	color: white;
}

.login-form .input-group {
	position: relative;
	width: 100%;
	height: 30%;
	margin: 30px 0;
	display: flex;
}

.input-group input {
		width: 100%;
		height: 45px;
		flex: 1;
		background: transparent;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 2px solid rgb(255, 255, 255);
		font-size: 14px;
		color: rgb(255, 255, 255);
		padding: 20px 45px 20px 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, .2);
		font-family: 'Better-VCR', monospace;
}

.input-group input:focus {
	outline: none;
}

.login-container .input-group img {
	margin-right: 10px;
	align-self: flex-end;
	height: 35px;
}
.input-group input::placeholder {
	color: rgb(255, 255, 255);
}

.login-form .btn {
	width: 100%;
	height: 45px;
	margin-top: 3%;
	margin-bottom: 3%;
	border: none;
	outline: none;
	background: #ffffff;
	color: rgb(0, 0, 0);
	font-size: 20px;
	border-radius: 25px;
	cursor: pointer;
	font-size: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	font-family: 'Better-VCR', monospace;
}

