.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

@font-face {
	font-family: 'Better-VCR';
	src: url('../fonts/Better-VCR.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.profile-page__logout-button {
	background-color: rgba(255, 255, 255, 1);
	background: transparent;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border: 2px solid rgba(255, 255, 255, .25);
	border-radius: 12px;

  color: #FFF;
  font-size: 40px;
  padding: 40px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box;
  font-family: 'Better-VCR';
}

.profile-page__delete-button {
  margin-top: 60px;
	background-color: rgba(255, 0, 0, 0.10);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border: 2px solid rgba(255, 255, 255, .25);
	border-radius: 12px;

  color: #FFF;
  font-size: 40px;
  padding: 40px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box;
  font-family: 'Better-VCR';
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confirm-popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirm-popup p {
  margin-bottom: 20px;
  font-size: 16px;
}

.confirm-popup__yes,
.confirm-popup__no {
  margin: 5px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-popup__yes {
  background-color: #28a745;
  color: white;
}

.confirm-popup__no {
  background-color: #6c757d;
  color: white;
}
