.container-puzzle {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	height: calc(100vh - 74px);
	gap: 10px;
}

  .top-left {
  margin: 0 0 0 10px;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
  color: white;
	border: 1px solid #ccc;
  border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
	background: transparent;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
  
  .top-right {
  margin: 0 10px 10px 0;
	grid-row: 1 / 3;
	grid-column: 2 / 3;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
  border-radius: 12px;

	background-color: rgba(255, 255, 255, 1);
	background: transparent;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
  }
  
  .bottom-left {
  margin: 0 0 10px 10px;
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	background-color: #333;
  border-radius: 12px;
	color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	overflow-y: auto;
  }
