* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'Better-VCR';
	src: url('../fonts/Better-VCR.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	min-height: 100vh;
}

.register-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.register-container .tabs {
	color: white;
	padding: 20px;
}

.register-form {
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	width: 425px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .25);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	color: #ffffff;
	border-radius: 12px;
	padding: 30px 40px;
}

.register-form h1 {
	margin-bottom: 1rem;
	text-align: center;
}

.register-form .input-group {
	position: relative;
	width: 100%;
	height: 30%;
	margin: 30px 0;
	display: flex;
}

.input-group img {
	align-self: flex-end;
	height: 35px;
}

.register-form .btn {
	width: 100%;
	height: 45px;
	margin-top: 3%;
	margin-bottom: 3%;
	border: none;
	outline: none;
	background: #ffffff;
	color: rgb(0, 0, 0);
	font-size: 20px;
	border-radius: 25px;
	cursor: pointer;
	font-size: 16px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	font-family: 'Better-VCR', monospace;
}


